{% extends 'base_login_register.html.twig' %}

{% block title %}Guarding index{% endblock %}

{% block body %}
    <h1>Guarding index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>From_timestamp</th>
                <th>To_timestamp</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for guarding in guardings %}
            <tr>
                <td>{{ guarding.id }}</td>
                <td>{{ guarding.fromTimestamp ? guarding.fromTimestamp|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ guarding.toTimestamp ? guarding.toTimestamp|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_guarding_show', {'id': guarding.id}) }}">show</a>
                    <a href="{{ path('app_guarding_edit', {'id': guarding.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_guarding_new') }}">Create new</a>
{% endblock %}
