<!DOCTYPE html>
<html lang="fr">
    <head><link rel="stylesheet" href="{{ asset('css/styles.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle+.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>     #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    {# <script src="{{ asset('js/script.js')}}" defer></script> #}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>{% block title %}Defult title !{% endblock %}</title>
    </head>
    <body>
         <!-- Nav -->
            <nav class="nav pt-3">
                <div class="w-100">
                    <div class="logo pt-3">
                        <img src="{{asset('img/logo.png')}}" class="img-responsive">
                        <a href="{{ path('app_home')}}">A'ROSA-JE</a>
                    </div>
                    <div id="mainListDiv" class="main_list">
                        <ul class="navlinks">
                            <li class="text-center">
                                <a href="{{ path('app_user_logout')}}" class="text-uppercase" title="Se déconnecter"><i class="fas fa-sign-out-alt"></i></a>
                            </li>
                            <li class="text-center">
                                <a href="{{ path('app_user_edit_profile') }}" class="text-uppercase" title="Profil de {{ app.session.get('user') }}">
                                    <i class="fas fa-user"></i>
                                </a>
                            </li>
                            <li class="text-center">            
                                <button type="button" class="btn rounded btn-upload text-uppercase" data-bs-toggle="modal" data-bs-target="#uploadModal" data-owner-id="{{ app.session.get('user').id }}" title="Uploader une plante">
                                    <i class="fas fa-upload"></i>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <span class="navTrigger pt-3">
                        <i></i>
                        <i></i>
                        <i></i>
                    </span>
                </div>
            </nav>
        <!-- /Nav -->
        {% block body %}{% endblock %}
    </body>
    <footer class="text-center text-lg-start mt-5 rounded-top">
        {% block footer %}{% endblock %}
    </footer>
</html>